body{
	background-color: #fafafa;
}

.header_tiatomate{
	background-color: #E56353;
}

.nosotros_header{
	background-color: #E56353;	
}
.comprar{
	background-color: #E56353;	
}
.pie{
 background-color: #686963;
}
.productos_derecha{
 background-color: #707070;	
}